<!DOCTYPE html>

<html lang="en">
<head>
    <title>404  page</title>
   <link rel="shortcut icon" href="static/img/logo.png">
</head>
<body>
<h1> Page not found</h1>

<img  height="52px" width="52px" src="static/img/logo.png" style="display: block;margin-left:30px;margin-right: auto; margin-top:30px; margin-bottom:30px;">
<br>

<div  width="200px" height="30px"/>


<img   src="static/img/404.png" style="display: block;margin-left:30px;margin-right: auto; margin-top:30px; margin-bottom:30px;">














</body>
</html>
