<!DOCTYPE html>

<html lang="en">
<head>
    <title>500 error page</title>
   <link rel="shortcut icon" href="static/img/{{favicon}}">
</head>
<body>
<h1> Internal server  Error</h1>

<img  height="52px" width="52px" src="static/img/logo.png" style="display: block;margin-left:30px;margin-right: auto; margin-top:30px; margin-bottom:30px;">
<br>
<b>Python treace: </b>
<br>

<div style="box-shadow:22px 10px 32px #29292d; width:1000px;  margin-left:18px; margin-bottom:60px; border-radius: 0px 0px 19px 19px">
<div style="margin-top:20px;background-color:lightblue; width:1000px;background:#1a76bc; padding:4px;
    font-weight: bold; color:white; border-radius: 8px 8px 0px 0px">
    &#10154;Full Stack Trace
</div>
<div style="background-color:#848484;  width:1008px; height:4px;">

</div>
<div style="width:1000px; height:660px; background:black; padding:4px;
    font-weight: bold; color:green; border-radius: 0px 0px 19px 19px">

    <p style="color:green; font-size:14px"><pre><code>{{error}}</code></pre></p>


</div>
</div>



</body>
</html>
